@import 'theme';

.tc-header {
  height: 50px;
  display: flex;
  align-items: center;
  padding: 8px 16px;
  background: mat-color($primary);
  color: $white;
  font-size: 20px;
  @include mat-elevation(6);
}
